@import "_config";

.u-lHeader{
	background-size:cover;
	background-image:url(/admissions/assets/images/adm-site-banner.jpg);
	position:relative;
	will-change:transform;
	padding:24% 8% 0 0 !important;
    margin-bottom: 0;
}
.u-Masthead__siteName{
	position:relative;
	text-shadow:0px 0px 30px rgba(0,0,0,0.2),0px 0px 46px rgba(0,0,0,0.2);
	max-width:none;
	margin:0;
	text-align:left
}
.u-Masthead__siteName--link{
	display:inline-block;
	padding:00.2em 0.2em 0.17em;
	background:rgba(0,0,0,0.6);
	margin-left:0.4em;
    font-family: $serif;
    font-weight: $fontWeightRegular;
    text-transform: none;
    letter-spacing: normal;
    font-size: 5rem;
}
.u-lContent {
    font-size: 1.125em;
    font-weight: $fontWeightRegular;
    line-height: 1.4;
}
.u-NavSite__level--1 .u-NavSite__item {
    font: $fontWeightRegular 1.1em/1.1 $sans-serif;
    text-transform: uppercase;
}
@media screen{
	.u-lMain{
		float:right
	}
	.u-NavSite{
		display:block;
		padding:0;
		position:absolute;
		visibility:visible;
		width:100%;
        background:#fff
    }
	.u-NavSite__level{
		display:flex;
		flex-flow:column nowrap;
		flex-flow:row wrap;
		justify-content:center
	}
	.u-NavSite__item{
		flex:0 1 auto;
		line-height:1;
		padding:.75em;
		text-align:center;
		white-space:nowrap
	}
	.u-NavSite__item,.u-NavSite__item:visited{
		color:$burgundy-1;
	}
	.u-NavSite__item:focus,.u-NavSite__item:hover{
		border-bottom:0
	}
	.u-NavSite__item:focus,.u-NavSite__item:hover,.u-NavSite__item--isCurrent,.u-NavSite__item--isCurrent:visited{
		background-color:$burgundy-1;
		color:#fff
	}
	.u-NavSite__item:focus,.u-NavSite__item:hover{
		margin-bottom:-.25em;
		padding-bottom:1em
	}
	.u-NavSite__item--isCurrent:focus,.u-NavSite__item--isCurrent:hover{
		background-color:$gray-basic;
		color:$gray-border;
		padding-bottom:1em
	}
}
.u-NavSite__item:focus,.u-NavSite__item:hover{
	padding-bottom:0.75em
}
.u-NavSite__itemContainer a[class*='icon-']{
	text-indent:0 !important
}
html body .u-NavSite .u-NavSite__itemContainer a[class*='icon-'] svg{
	margin-right:0.4em !important
}
html body .u-NavSite .u-NavSite__itemContainer a[class*='icon-'] svg path{
	fill:rgba(0,0,0,0.3)
}
@media screen and (min-width: 37.5em){
	.u-NavSite__level{
		flex-flow:row wrap;
		justify-content:center
	}
}
@media screen and (min-width: 56.25em){
}
@media screen and (min-width: 62em){
	.u-NavSite{
		left:0;
		margin:0 auto;
		max-width:80em;
		position:absolute;
		right:0;
		width:100%
	}
	.u-NavSite__item{
		float:left;
		text-align:center;
		white-space:nowrap
	}
}
@media screen and (min-width: 15em){
	.u-lMain,.u-thirdLevel .u-lMain{
		margin-top:12em
	}
}
@media screen and (min-width: 26em){
	.u-lMain,.u-thirdLevel .u-lMain{
		margin-top:8em
	}
}
@media screen and (min-width: 37.5em){
	.u-lMain,.u-thirdLevel .u-lMain{
		margin-top:6em
	}
}
@media screen and (min-width: 56.25em){
	.u-lMain,.u-thirdLevel .u-lMain{
		margin-top:4em
	}
}
a {
    color: $linkColor;
    text-decoration: none;
    border-bottom: 1px solid #ce1e46
}

a:visited {
    color: $linkColorVisited
}

a:focus {
    color: $linkColorHoverFocus
}

a:hover {
    color: $linkColorHoverFocus
}

a:active {
    color: $linkColorActive
}
.buttonContainer{
	display:flex;
	justify-content:center;
	margin:1em 0
}
.button-link{
	background-color:$burgundy-1;
	color:#fff !important;
	border:1px solid #fff
}
.button-link:visited{
	background-color:$burgundy-1;
	color:#fff !important
}
.button-link:hover,.button-link:focus{
	background-color:#c1b5b0;
	color:#fff !important
}
.button-link:active{
	background-color:$gray-basic;
	color:#fff !important
}
.button{
	margin-top:0 !important;
	transition:none !important
}
.button:link{
	background:$burgundy-1;
	font-size:1.4em;
	display:inline-block;
	padding:0.4em 0.6em;
	border-radius:0.4em;
	border:none
}
.button:link,.button:visited{
	color:#fff !important
}
.button:link:hover,.button:visited:hover{
	background:$gray-basic
}
table{
	background:none !important;
	border-spacing:0;
	width:100%
}
table tbody th{
	background:$gray-light;
	border:none;
	border-bottom:2px solid $gray-border;
}
table tbody tr:nth-child(odd){
	background:$gray-border
}
tbody td{
	border:none
}
tbody td,
tbody th{
	padding:0.4em 0.8em
}
.calendar-month-day{
	justify-content:center
}
.calendar-month ul{
	padding-left:0
}
.calendar-month ul li{
	font-size:.889em;
	line-height:1.15
}
.calendar-month td>a:first-child{
	font-weight:fontWeightBold;
	text-align:center
}
.calendar-month td>a:last-child{
	font-size:.889em
}
.calendar-nav{
	text-align:center
}
.calendar-nav .button:link{
	font-size:1em
}
.small-btn.view-events{
	font-size:1em
}
.calendar-event-info .calendar-event-label,.calendar-event-info strong{
	font-weight:inherit !important;
	font-variation-settings:"wght" $fontWeightMedium !important
}
.u-pageHome.u-folderCalendar .u-NavSite__itemContainer:first-child{
	display:list-item
}
.calendar-nav,.calendar-month{
	width:95%;
	margin:0 auto .5em
}
.calendar-month{
	margin-bottom:1em
}
.calendar-nav{
	margin:2em auto .5em
}
.calendar-nav .button{
	margin-bottom:.5em
}
.calendar-nav .button:link,.calendar-nav .small-btn.view-events{
	margin-right:.25em
}
.button.view-events{
	margin:0 .25em 0 2.5%
}
.calendar-month tr{
	display:flex;
	flex-direction:column
}
.calendar-month td,.calendar-month th{
	flex-basis:100%
}
.calendar-month ul{
	padding-left:0
}
.calendar-month ul li{
	list-style-type:none;
	padding-bottom:.75em
}
.calendar-month td>a:first-child{
	font-weight:$fontWeightBold;
	display:block;
	width:100%;
	margin:0 auto
}
.calendar-month td.today>a:first-child{
	color:white;
	padding:.2em .4em;
	border-radius:.25em
}
.u-lContent .calendar-date{
	margin-bottom:2em
}
.u-lContent h4.calendar-date:first-child{
	margin-top:2em
}
.u-lContent .calendar-list{
	list-style-type:none;
	padding:0;
	margin-top:1em
}
.u-lContent .calendar-list h5{
	margin:.2em 0 0;
	flex-basis:85%;
	margin-left:auto
}
.u-lContent .calendar-list li{
	padding-bottom:.75em
}
.calendar-time{
	flex-basis:15%
}
.calendar-location{
	flex-basis:85%;
	margin-left:auto;
	line-height:1
}
.calendar-month-day,.calendar-month .empty{
	display:none
}
.calendar-month{
	border:1px $gray-border solid
}
.calendar-month a{
	border-bottom:1px solid transparent
}
.calendar-month td{
	border:1px solid $gray-light;
}
.calendar-month tr:nth-child(odd),.calendar-month tr:nth-child(even){
	background:transparent
}
.u-lContent .calendar-list a{
	border-bottom:1px solid transparent
}
td.today>a:first-child{
	background-color:$gray-basic
}
@media (min-width: 59.375em){
	.calendar-month-day,.calendar-month .empty{
		display:inherit
	}
	.day--desc{
		display:none
	}
	.calendar-month tr{
		flex-direction:inherit
	}
	.u-lContent .calendar-list a{
		display:flex;
		flex-flow:wrap
	}
	.calendar-month tr:nth-child(even){
		background:transparent
	}
	.calendar-month tr:nth-child(odd){
		background:#f9f9f9
	}
}
.table--schedule caption{
	font-family:$sans-serif;
	font-weight:$fontWeightBold;
}
@supports (font-variation-settings: "wght" $fontWeightMedium){
	.table--schedule caption{
		font-family:$sans-serif;
		font-variation-settings:"wght" $fontWeightMedium
	}
}
.table--schedule tr:nth-child(odd){
	background:transparent
}
.table--schedule td{
	border-bottom:1px solid $gray-basic
}
.table--schedule td:first-child{
	padding-left:0
}