@import "_config";

html {
    font-family: $sans-serif;
}
.u-lHeader{
	background-size:cover;
	background-image:url(/admissions/assets/images/adm-site-banner.jpg);
	position:relative;
	will-change:transform;
	padding:24% 8% 0 0 !important;
    margin-bottom: 0;
}
.u-Masthead__siteName{
	position:relative;
	text-shadow:0px 0px 30px rgba(0,0,0,0.2),0px 0px 46px rgba(0,0,0,0.2);
	max-width:none;
	margin:0;
	text-align:left
}
.u-Masthead__siteName--link{
	display:inline-block;
	padding:00.2em 0.2em 0.17em;
	background:rgba(0,0,0,0.6);
	margin-left:0.4em;
    font-family: $serif;
    font-weight: $fontWeightRegular;
    text-transform: none;
    letter-spacing: normal;
    font-size: 5rem;
}
.u-NavSite__level--1 .u-NavSite__item {
    font: $fontWeightRegular 1.1em/1.1 $sans-serif;
    text-transform: uppercase;
}
.u-lContent {
    font-size: 1.125em;
    font-weight: $fontWeightRegular;
    line-height: 1.4;
}
.u-pageTitle {
    margin-top: 0
}
.u-pageIndex .u-pageTitle {
    display: inherit;
    text-align: center !important;
    background-size: 10em;
    background-repeat: no-repeat;
    background-position-x: center;
}
@media screen{
    .PageContentInner {
        align-items: stretch;
        display: grid;
        grid-column-gap: 0;
        grid-row-gap: 0;
        grid-template-areas:
            "header"
            "navsite"
            "main"
            "footer";
        grid-template-columns: 100%;
        grid-template-rows: auto;
        justify-items: stretch;
    }
    .u-lHeader {
        grid-area: header;
    }
	.u-lMain {
		grid-area: main;
        width: unset;
	}
    .u-pageInner.u-pageIndex .u-lMain {
        width: unset;
        max-width: none;
    }
	.u-pageInner,
    .u-pageInner.u-folderList.u-pageIndex,
    .u-pageInner.u-folderVassarevents.u-pageIndex {
        .u-lMain {
            max-width: 48em;
            margin: 0 5% 5% 5%;
	    }
    }
	.u-NavSite{
        grid-area: navsite;
		display:block;
		padding:0;
		visibility:visible;
		width:100%;
        background:#fff;
        margin-bottom: 2em;
    }
    .u-lFooter {
        grid-area: footer;
    }
	.u-NavSite__level{
		display:flex;
		flex-flow:column nowrap;
		flex-flow:row wrap;
		justify-content:center
	}
	.u-NavSite__item{
		flex:0 1 auto;
		line-height:1;
		padding:.75em;
		text-align:center;
		white-space:nowrap
	}
	.u-NavSite__item,.u-NavSite__item:visited{
		color:$burgundy-1;
	}
	.u-NavSite__item:focus,.u-NavSite__item:hover{
		border-bottom:0;
	}
	.u-NavSite__item:focus,.u-NavSite__item:hover,
    .u-NavSite__item--isCurrent,.u-NavSite__item--isCurrent:visited{
		background-color:$burgundy-1;
		color:#fff
	}
	.u-NavSite__item--isCurrent:focus,.u-NavSite__item--isCurrent:hover{
		background-color:$gray-basic;
		color:$gray-border;
		padding-bottom:.75em;
	}
}
.u-NavSite__itemContainer a[class*='icon-']{
	text-indent:0 !important
}
html body .u-NavSite .u-NavSite__itemContainer a[class*='icon-'] svg{
	margin-right:0.4em !important
}
html body .u-NavSite .u-NavSite__itemContainer a[class*='icon-'] svg path{
	fill: $linkColor;
}
html body .u-NavSite .u-NavSite__itemContainer a {
    [class*='icon-'] svg path {
        fill: $linkColor;
    }
    &:hover[class*='icon-'] svg path,
    &:focus[class*='icon-'] svg path {
        fill: #fff;
    }
}
@media screen and (min-width: $tiny) {
	.u-NavSite__level{
		flex-flow:row wrap;
		justify-content:center
	}
}
@media screen and (min-width: $small){
	.u-pageInner,
    .u-pageInner.u-folderList.u-pageIndex,
    .u-pageInner.u-folderVassarevents.u-pageIndex {
        .u-lMain {
            margin-left: auto;
            margin-right: auto;
	    }
    }
}
@media screen and (min-width: $large){
	.u-NavSite{
		left:0;
		margin:0 auto 2em;
		max-width:80em;
		right:0;
		width:100%
	}
	.u-NavSite__item{
		float:left;
		text-align:center;
		white-space:nowrap
	}
}
a {
    color: $linkColor;
    text-decoration: none;
    border-bottom: 1px solid #ce1e46
}

a:visited {
    color: $linkColorVisited
}

a:focus {
    color: $linkColorHoverFocus
}

a:hover {
    color: $linkColorHoverFocus
}

a:active {
    color: $linkColorActive
}
.buttonContainer,
.VassarEventsFormContainer .button {
	display:flex;
	justify-content:center;
	margin:1em 0
}
.button-link,
.VassarEventsFormContainer .button {
	background-color:$burgundy-1;
	color:#fff !important;
	border:1px solid #fff
}
.button-link:visited {
	background-color:$burgundy-1;
	color:#fff !important
}
.button-link:hover,
.button-link:focus,
.VassarEventsFormContainer .button:hover,
.VassarEventsFormContainer .button:focus {
	background-color:#c1b5b0;
	color:#fff !important
}
.button-link:active,
.VassarEventsFormContainer .button:active {
	background-color:$gray-basic;
	color:#fff !important
}
.button, 
.VassarEventsFormContainer .button {
	margin-top:0 !important;
	transition:none !important
}
.button:link,
.VassarEventsFormContainer .button {
	background:$burgundy-1;
	font-size:1.4em;
	display:inline-block;
	padding:0.4em 0.6em;
	border-radius:0.4em;
	border:none
}
.button:link,.button:visited{
	color:#fff !important
}
.button:link:hover,
.button:visited:hover,
.VassarEventsFormContainer .button:hover,
.VassarEventsFormContainer .button:focus {
	background:$gray-basic
}
.VassarEventsFormContainer [id] {
    margin-top: 0 !important;
    padding-top: 0 !important;
    .button {
        padding-top: .4em !important;
    }
}
.VassarEventsContainer {
    max-width: 25em;
    margin: 2em auto;
    p {
        line-height: 1.5;
    }
}
.VassarEventsFormContainer {
    margin: 2em auto;
    .mc-field-group {
        margin: 0 0 1em;
        display: flex;
        flex-direction: column;
    }
    .indicates-required {
        margin: 0 0 1em;;
    }
    #mce-responses {
        margin: 1em 0;
        font-weight: 700;
        color: #95192a;
    }
}
.u-folderVassarevents .u-pageTitle {
    background-size: 20em;
}
table{
	background:none !important;
	border-spacing:0;
	width:100%
}
table tbody th{
	background:$gray-light;
	border:none;
	border-bottom:2px solid $gray-border;
}
table tbody tr:nth-child(odd){
	background:$gray-border
}
tbody td{
	border:none
}
tbody td,
tbody th{
	padding:0.4em 0.8em
}
.calendar-month-day{
	justify-content:center
}
.calendar-month ul{
	padding-left:0
}
.calendar-month ul li{
	font-size:.889em;
	line-height:1.15
}
.calendar-month td>a:first-child{
	font-weight:fontWeightBold;
	text-align:center
}
.calendar-month td>a:last-child{
	font-size:.889em
}
.calendar-nav{
	text-align:center
}
.calendar-nav .button:link{
	font-size:1em
}
.small-btn.view-events{
	font-size:1em
}
.calendar-event-info .calendar-event-label,.calendar-event-info strong{
	font-weight:inherit !important;
	font-variation-settings:"wght" $fontWeightMedium !important
}
.u-pageHome.u-folderCalendar .u-NavSite__itemContainer:first-child{
	display:list-item
}
.calendar-nav,.calendar-month{
	width:95%;
	margin:0 auto .5em
}
.calendar-month{
	margin-bottom:1em
}
.calendar-nav{
	margin:2em auto .5em
}
.calendar-nav .button{
	margin-bottom:.5em
}
.calendar-nav .button:link,.calendar-nav .small-btn.view-events{
	margin-right:.25em
}
.button.view-events{
	margin:0 .25em 0 2.5%
}
.calendar-month tr{
	display:flex;
	flex-direction:column
}
.calendar-month td,.calendar-month th{
	flex-basis:100%
}
.calendar-month ul{
	padding-left:0
}
.calendar-month ul li{
	list-style-type:none;
	padding-bottom:.75em
}
.calendar-month td>a:first-child{
	font-weight:$fontWeightBold;
	display:block;
	width:100%;
	margin:0 auto
}
.calendar-month td.today>a:first-child{
	color:white;
	padding:.2em .4em;
	border-radius:.25em
}
.u-lContent .calendar-date{
	margin-bottom:1em
}
.u-lContent h4.calendar-date:first-child{
	margin-top:2em
}
.u-lContent h4 {
	letter-spacing: normal;
    font-size: 1.25em;
}
.u-lContent .calendar-list{
	list-style-type:none;
	padding:0;
	margin-top:1em
}
.u-lContent .calendar-list h5{
	margin:.2em 0 0;
	flex-basis:85%;
	margin-left:auto;
    font-size: inherit;
}
.u-lContent .calendar-list li{
	padding-bottom:.75em
}
.calendar-time{
	flex-basis:15%;
}
.calendar-location{
	flex-basis:85%;
	margin-left:auto;
	line-height:1
}
.calendar-month-day,.calendar-month .empty{
	display:none
}
.calendar-month{
	border:1px $gray-border solid
}
.calendar-month a{
	border-bottom:1px solid transparent
}
.calendar-month td{
	border:1px solid $gray-light;
}
.calendar-month tr:nth-child(odd),.calendar-month tr:nth-child(even){
	background:transparent
}
.u-lContent .calendar-list a{
	border-bottom:1px solid transparent
}
td.today>a:first-child{
	background-color:$gray-basic
}
@media (min-width: 59.375em){
	.calendar-month-day,.calendar-month .empty{
		display:inherit
	}
	.day--desc{
		display:none
	}
	.calendar-month tr{
		flex-direction:inherit
	}
	.u-lContent .calendar-list a{
		display:flex;
		flex-flow:wrap
	}
	.calendar-month tr:nth-child(even){
		background:transparent
	}
	.calendar-month tr:nth-child(odd){
		background:#f9f9f9
	}
}
.table--schedule caption{
	font-family:$sans-serif;
	font-weight:$fontWeightBold;
}
@supports (font-variation-settings: "wght" $fontWeightMedium){
	.table--schedule caption{
		font-family:$sans-serif;
		font-variation-settings:"wght" $fontWeightMedium
	}
}
.table--schedule tr:nth-child(odd){
	background:transparent
}
.table--schedule td{
	border-bottom:1px solid $gray-basic
}
.table--schedule td:first-child{
	padding-left:0
}